@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --container-2xl: 1200px;

  /* Colors */
  --color-*: initial;
  --color-white: #ffffff;
  --color-blue-100: #7ea4d7;
  --color-blue-200: #2c85fc;
  --color-blue-300: #2266c1;
  --color-blue-400: #0d284c;
  --color-cyan-100: #2debfc;
  --color-cyan-200: #187d86;
  --color-cyan-300: #0e474c;
  --color-gray-100: #f9fafc;
  --color-gray-200: #d3d5d9;
  --color-gray-300: #93979f;
  --color-gray-400: #20242c;
  --color-gray-500: #16181d;
  --color-gray-600: #14161a;
  --color-gray-700: #101216;
  --color-gray-800: #0b0c0f;

  /* Radius */
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  /* Font */
  --font-inter: "Inter", sans-serif;
  --font-sans: "PT Sans Caption", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer utilities {
  .text-heading-hg {
    font-size: 2.5rem;
    line-height: 120%;
    font-weight: 700;
  }

  .text-heading-xl {
    font-size: 2rem;
    line-height: 120%;
    font-weight: 700;
  }

  .text-heading-lg {
    font-size: 1.75rem;
    line-height: 120%;
    font-weight: 700;
  }

  .text-heading-md {
    font-size: 1.5rem;
    line-height: 120%;
    font-weight: 700;
  }

  .text-heading-sm {
    font-size: 1.25rem;
    line-height: 120%;
    font-weight: 700;
  }

  .text-heading-xs {
    font-size: 1rem;
    line-height: 120%;
    font-weight: 700;
  }

  .text-body-md {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
  }

  .text-body-sm {
    font-size: 0.875rem;
    line-height: 150%;
    font-weight: 400;
  }

  .text-body-xs {
    font-size: 0.75rem;
    line-height: 150%;
    font-weight: 400;
  }

  .text-body-tag {
    font-size: 0.75rem;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
  }

  .text-action-md {
    font-size: 1rem;
    line-height: normal;
    font-weight: 500;
  }

  .text-action-sm {
    font-size: 0.875rem;
    line-height: normal;
    font-weight: 500;
  }
}
